.container__card-label{
  position: absolute;
  bottom: 400px;
  right: 0;
}

.card-label{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d0d0d8c;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 50px;
  height: 30px;
  border-radius: 3px;
}
