<header>
  <app-menu-bar></app-menu-bar>
</header>

<article class="home__container">
  <app-card produtoPhoto="../../../assets/not_found.jpg" produtoName="Produto 01" produtoType="Acessório" produtoPrice="R$ 500,00"></app-card>
  <app-card produtoPhoto="../../../assets/not_found.jpg"  produtoName="Produto 02" produtoType="Acessório" produtoPrice="R$ 1500,00"></app-card>
  <app-card produtoPhoto="../../../assets/not_found.jpg"  produtoName="Produto 03" produtoType="Acessório" produtoPrice="R$ 2500,00"></app-card>
  <app-card produtoPhoto="../../../assets/not_found.jpg" produtoName="Produto 04" produtoType="Acessório" produtoPrice="R$ 1500,00"></app-card>
  <app-card produtoPhoto="../../../assets/not_found.jpg" produtoName="Produto 05" produtoType="Acessório" produtoPrice="R$ 500,00"></app-card>
  <app-card produtoPhoto="../../../assets/not_found.jpg"  produtoName="Produto 06" produtoType="Acessório" produtoPrice="R$ 1500,00"></app-card>
  <app-card produtoPhoto="../../../assets/not_found.jpg"  produtoName="Produto 07" produtoType="Acessório" produtoPrice="R$ 2500,00"></app-card>
  <app-card produtoPhoto="../../../assets/not_found.jpg"  produtoName="Produto 08" produtoType="Acessório" produtoPrice="R$ 2500,00"></app-card>
</article>


